<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First App</title>
</head>
<body>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app_1/style.css' %}">
{% if question_latest_list  %}
<ul>
    {% for question in question_latest_list %}
    <li><a href="{ % url 'app_1:detail' {{question.id}} %}">{{question.question_text}}</a> </li>
    {% endfor %}
</ul>
{% else %}
<p> No polls found </p>
{% endif %}
</body>
</html>